# Assignment #1: Philadelphia ZHVI over time

- Name: **Your name here**
- Github username: **Your username**

## Instructions

Find the Philadelphia ZIP code with the largest average annual ZHVI value, for each year in the data set. The Zillow data is available in this repository at [data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv](data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv).

The Jupyter notebook should use pandas to load the data and analyze it. The following steps should be followed:

- Load the ZHVI data for each ZIP code, selecting only Philadelphia ZIP codes.
- Calculate the annual average ZHVI for each ZIP code in Philadelphia and each year.
- Identify the ZIP code with the maximum value for each year.

The final result should be a dataframe with a row for each year and the corresponding ZIP code that has the maximum ZHVI value in that year.

**Important**: Your notebooks should be a polished finished product. For example:

- Please remove any extra or unneccesary code.
- Please try to use markdown cells with section headers to mark different sections of the analysis.

In [58]:
##import packages
import pandas as pd

In [59]:
##import data
df= pd.read_csv("data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")

In [60]:
##filter Philadelphia data
df_PHI=df.loc[(df['State']=='PA' )& (df['City']=='Philadelphia')]
#df_PHI.head()

In [61]:
##Trimming data frame
df_PHI_1=df_PHI.loc[:,['RegionName']]
df_PHI_2=df_PHI.loc[:,'2000-01-31':]
df_PHI_final=pd.concat([df_PHI_1,df_PHI_2],axis=1)

In [62]:
##Transform long to wide
ZHVI = pd.melt(
    df_PHI_final, 
    id_vars=["RegionName"], 
    value_name="ZHVI", 
    var_name="Date"
)
#ZHVI.head()

In [63]:
##Convert datatime object and obtain 'Year'
ZHVI["Date"]= pd.to_datetime(ZHVI["Date"])
ZHVI["Year"]=ZHVI["Date"].dt.year

In [64]:
##Obtain annual ZHVI
annual_ZHVI=ZHVI.groupby(['RegionName', 'Year'])['ZHVI'].mean() 
annual_ZHVI=annual_ZHVI.reset_index()
#annual_ZHVI.head(n=50)

In [65]:
##ZIP code with maximum ZHVI each year
df_final=pd.DataFrame()
print(df_final)
for year in annual_ZHVI["Year"].unique():
    df=annual_ZHVI.loc[annual_ZHVI['Year']==year]
    df1=df.loc[df["ZHVI"]==df.ZHVI.max()] 
    #print(df1)
    df_final=pd.concat([df_final,df1],ignore_index=True)

Empty DataFrame
Columns: []
Index: []

In [66]:
##Final result  



df_final.rename(columns ={'RegionName':'ZIP_Code'},inplace=True) #rename column
column_titles=['Year','ZIP_Code','ZHVI']
df_final=df_final.reindex(columns=column_titles) #switch columns
#df_final=df_final.round(2) #round numbers

In [67]:

styler = df_final.style.set_caption('ZIP Codes with the Maximum Annual Average ZHVI Values from 2000 to 2022').set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'red'),
        ('font-size', '15px'),
        ('font-style', 'italic'),
        ('font-weight', 'bold'),
        ('text-align', 'center')
    ]
}])

styler